body {
  margin: 0;
  font-family: "Nunito", "Inter", sans-serif;
  font-weight: 300;

  font-size: 40px;
  color: #474747;
  line-height: 1.5;
}
h3 {
  color: #9b8c89;
  font-size: 60px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 2;
}

p {
  font-weight: 300;
  height: 500px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*Container*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container p {
  width: 500px;
  margin-top: 20px;
  padding-top: 20px;
}

/*Button up*/
#button {
  display: inline-block;
  background-color: #9b8c89;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  line-height: 35px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/*Intro*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background: url("../img/intro.svg") center no-repeat;

  background-size: cover;
}

.intro__title {
  font-weight: 500;
  font-size: 213px;
  margin-top: 20px;
  line-height: 1;
}

.intro__suptitle {
  margin-left: 20px;
}

.intro__inner {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

/*header*/
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 30px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  font-size: 30px;
  font-weight: 700;
}

/*nav*/
.nav {
  font-size: 18px;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.5s linear;
  color: #474747;
  border: 3px solid #574642;
  padding: 1px 30px;
  font-size: 22px;
  transition: background-color 0.5s;
}

.nav__link:hover {
  color: white;
  background-color: #474747;
}

/*section*/
.section__header {
  margin: 50px auto;
  font-weight: 300;
}

.section1 {
  float: right;
}

.section2 {
  float: left;
}

.section__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Section-projects*/

.section-projects {
  background-color: #ebebeb;
}

/*Section-team*/
.row-team {
  display: flex;

  padding: 0 0px;
}

.row-team .container {
  margin-left: 0;
  margin-right: 70px;
}

.row-team p {
  text-align: center;
  width: 400px;
}

/*footer*/
.page-footer {
  padding: 50px 0;
  background-color: #272a34;
  color: #9b8c89;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("../img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("../img/icon-phone-footer.svg");
}

.list-unstyled {
  list-style-type: none;
  font-size: 24px;
  padding-left: 0;
  border: 0;
}

.page-footer h3 {
  padding-left: 50px;
  font-size: 26px;
}

.row-footer {
  display: flex;
}
